/* the styles for the HTML elements */
html {
    background: url(images/woodBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    height: 100%;
}

main {

}

.mainSection {
    margin-left: 6%;
}

/*About me, Info, Tips pages section*/
.sidePageMainSection {
    margin-left: 20%;
    color: #F4E8D9;
    background-color: #231F20;
    width: 50%;
    padding: 4%;
    margin-bottom: 3%;
     box-shadow: 20px 20px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 20px 20px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 20px 20px 5px rgba(0,0,0,0.4);
}

/*Top Navigation*/
#topNav {
    display: inline-block;
    border-bottom: 30px solid #51110F;
    padding: 20px;
    background-color: #231F20;
    position: relative;
    z-index: 2;
}
#topNav li a {
    text-decoration: none;
    float: right;
    color: #F4E8D9;
    padding-right: 4%;
    font-size: 1.2em;
    font-family: Arial, sans serif;
    font-weight: 300;
    letter-spacing: 1px;
}
#topNav li a img {
    float: left;
    width: 20%;
    position: relative;
    margin-bottom: -2%;
}

/*Home page*/
.recipeListAll {
    background-color: #F4E8D9;
    box-shadow: 20px 20px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 20px 20px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 20px 20px 5px rgba(0,0,0,0.4);
    width: 44%;
    margin: 2%;
    float: left;
}

.recipeHead {
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    background-color: #231F20;
    border: 8px solid #51110F;
    width: 25%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    box-shadow: 20px 20px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 20px 20px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 20px 20px 5px rgba(0,0,0,0.4);
}
.recipeName {
    text-decoration: none;
    font-size: 2em;
    color: #F4E8D9;
    background-color: #51110F;
    opacity: 0.9;
    padding: 15px;
    position: absolute;
    margin-top: 20px;
    margin-left: 12%;
    width: 20%;
    z-index: 9999;
}
.recipeName:hover {
    opacity: 1.0;
}
.recipeImage {
   border: 15px solid black; 
   box-shadow: 15px 15px 8px rgba(0,0,0,0.4);
    -webkit-box-shadow: 15px 15px 8px rgba(0,0,0,0.4);
    -moz-box-shadow: 15px 15px 8px rgba(0,0,0,0.4);
   width: 283px;
   margin-top: -20px;
   margin-bottom: -15px;
}

.allergyTable{
    color: #231F20;
    padding-right: 10%;
    float: right;
    position: relative;
    margin-top: 80px;
    margin-bottom: 3%;
}


/*Allergy Checklist side Menu*/
#checklist {
    right: .5%;
    position: fixed;
    color: #F4E8D9;
    background-color: #231F20;
     box-shadow: 15px 15px 8px rgba(0,0,0,0.4);
    -webkit-box-shadow: 15px 15px 8px rgba(0,0,0,0.4);
    -moz-box-shadow: 15px 15px 8px rgba(0,0,0,0.4);
    padding: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: -40px;
    z-index: 1;
}
#checklisttwo {
    display: none;
}
.slide-toggle {
    display: none;
}
#checklistHead {
   color: #F4E8D9;
   font-size: 1.4em;
}
input[type=submit] {
/*    width: 12%;*/
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
    background-color: #801815;
    border: none;
    font-size: 1em;
    margin: 10px;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -4px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -4px 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -4px 2px rgba(0, 0, 0, .4);
     border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    float: left;
}
#checklist>form>input[type=submit] {
/*    width: 80%;*/
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
    background-color: #801815;
    border: none;
    font-size: 1em;
    margin: 10px;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -4px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -4px 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -4px 2px rgba(0, 0, 0, .4);
     border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    float: left;
}

/*Action Buttons*/
.manageRecipes {
/*    width: 10%;*/
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
    background-color: #801815;
    border: none;
    font-size: 1em;
    margin: 10px;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -4px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -4px 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -4px 2px rgba(0, 0, 0, .4);
     border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    float: left;
}

/*View Recipe Page*/

.recipeViewMain {
    width: 70%;
    background-color: #F4E8D9;
    color: black;
    margin-left: 9%;
    margin-bottom: 5%;
    margin-top: 2%;
}
#recipeViewHeading {
    background-color: #F4E8D9;
    height: 50px;
    width: 15%;
    color: black;
    padding: .5%;
    margin-bottom: -3.3%;
    margin-top: 2%;
    margin-left: 9%;
    border-radius: .5em;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
}
.submittedBy {
    text-align: left;
}

/*Login Page*/

#login_main {
    width: 50%;
    margin-left: 24%;
    margin-top: -5px;
    background-color: #231F20;
    padding: 2%;
    height: 100%;
}
#login_p {
    color: #F4E8D9;
}
#mainForm>label {
    color: #F4E8D9;
}
#login {
    float: right;
    padding: 20px;
}

/*Main Menu Page for Admin*/
.menuPageBody {
    width: 50%;
    margin-left: 24%;
    margin-top: -5px;
    background-color: #231F20;
    padding: 2%;
    height: 100%;
}

/*Upload Image Page */

#upload_image_main {
    width: 50%;
    margin-left: 24%;
    background-color: black;
    padding: 2%;
}
#upload_p {
    color: #F4E8D9;
}

section {
    float: left;
    width: 80%;
}

/*footer*/

footer {
    display: block;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-bottom: -5%;
    clear: both;
    z-index: 3;
}
.footer {
    padding-top: 80px;
    background-color: black;
}
footer p {
    text-align: right;
    font-size: 100%;
    color: #F4E8D9;
    background-color: black;
    padding: 20px;
/*    padding-top: 120px;*/
}

/*Headings*/

h1 {
    font-size: 150%;
    margin: .5em 0;
}
h2 {
    font-size: 120%;
    margin: .25em 0 .5em;
}
h1, h2 {
    color: #F4E8D9;
}

/*List and link styles*/

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-bottom: 1em;
}
li {
    padding-bottom: 0.5em;
}
a {
    color: #F4E8D9;
    font-weight: bold;
}
a:hover {
    color: rgb(208, 133, 4);
}
br {
    clear: left;
}


/* the styles for classes */
.right {
    text-align: right;
}
.first_paragraph {
    margin-top: 0;	
}
.last_paragraph {
    margin-bottom: 2em;	
}
/* View page columns */
#left_column {
    float: left;
    width: 400px;
    padding-left: 1.5em;
    text-align: center;
}
#mainImg {
    width: 100%;
}
#right_column {
    float: left;
    padding-left: 1.5em;
    padding-bottom: 2em;
    width: 45%
}
#recipeViewHeading {
    padding-left: 1em;
}

/* Product Manager Styles */
/**********************************************************************/

/*Category Side Menu*/
aside {
    background-color: #231F20;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
    padding:2%;
    width: 10%;
    float: right;
}

/*Main Page - Recipe List*/
.recipesMng {
    background-color: #F4E8D9;
    width: 80%;
    margin-left: 10%;
    float: left;
}
.ingred {
    margin-left: 2%;
    clear: both;
}
.recipeMngImage {
   border: 15px solid black; 
   box-shadow: 15px 15px 8px rgba(0,0,0,0.4);
    -webkit-box-shadow: 15px 15px 8px rgba(0,0,0,0.4);
    -moz-box-shadow: 15px 15px 8px rgba(0,0,0,0.4);
    float: left;
    margin-left: 1.5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.recipeMngName {
    text-decoration: none;
    font-size: 2em;
    color: #F4E8D9;
    background-color: #51110F;
    padding: 15px;
    margin-top: 0px;
}
.allergyTableMng{
    color: #231F20;
    padding-right: 10%;
    float: left;
    position: relative;
    margin-top: 20px;
    margin-bottom: 3%;
}

/*Add Recipe Page*/
.add_recipe_main {
    background-color: #F4E8D9;
    padding: 2%;
}
h1#add_recipe_head {
    width: 68%;
    background-color: #801918;
    padding: 1%;
}
#add_recipe_form {
    margin: .5em 0;
    width: 70%;
    margin: auto;
}
#add_recipe_form label {
/*    width: 16em;*/
    font-size: 1em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}
#add_recipe_form input {
    float: left;
}
#add_recipe_form input[type=text] {
    width: 100%;
}
#add_recipe_form textarea {
    float: left;
    width: 100%;
}
#add_recipe_head {
    margin: auto;
}

/*Category Edit Page*/

.edit_category {
    background-color: #F4E8D9;
    width: 70%;
    margin: auto;
    padding: 1%;
}
#categoryTable {
    margin-bottom: 1em;
    width: 25%;
    table-layout: fixed;
}

#categoryTable td input[type=submit]{
    width: 100%;
    padding: 10px;
}

/*Edit Recipe Page*/

.edit_recipe_main {
    background-color: #F4E8D9;
    width: 70%;
    margin: auto;
    padding: 1%;
}
#edit_recipe label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: 1em;
    float: left;
}
#edit_recipe input {
    float: left;
}
#edit_recipe input[text] {
    width: 15em;
}
#edit_recipe textarea {
    float: left;
    width: 70%;
}


/*Tiny - max width 480px*/
@media only screen and (max-width:30em){
    
/*Main Page*/
    .recipeListAll {
        width: 100%;
        box-shadow: 8px 8px 4px rgba(0,0,0,0.4);
        -webkit-box-shadow: 8px 8px 4px rgba(0,0,0,0.4);
        -moz-box-shadow: 8px 8px 4px rgba(0,0,0,0.4);
        border-right: 18px solid #F4E8D9;
        margin-bottom: 10%;
    } 
    .recipeHead {
        font-size: 1em;
        border: 4px solid #51110F;
        width: 40%;
        box-shadow: 8px 8px 4px rgba(0,0,0,0.4);
        -webkit-box-shadow: 8px 8px 4px rgba(0,0,0,0.4);
        -moz-box-shadow: 8px 8px 4px rgba(0,0,0,0.4);
    }
    .recipeName {
        font-size:1em;
        color: #F4E8D9;
        width: 70%;
        padding: 10px;
    }

    .recipeImage {
       border: 9px solid black; 
       box-shadow: 8px 8px 4px rgba(0,0,0,0.4);
        -webkit-box-shadow: 8px 8px 4px rgba(0,0,0,0.4);
        -moz-box-shadow: 8px 8px 4px rgba(0,0,0,0.4);
       width: 100%;

    }
    .allergyTable{
        float: left;
        margin-top: 8%;
        margin-bottom: 3%;
        padding-left: 9px;
    }
    
/*    Top Navigation*/
     #topNav li a {
        float: left;
        font-size: .9em;
    }
    #topNav li a img {
        float: left;
        width: 50%;
        position: relative;
        margin-bottom: 5%;
    }
    
/*    Allergy Checklist side navigation*/
    #checklist {
        display: none;
    }
    #checklisttwo {
        right: .5%;
        position: absolute;
        color: #F4E8D9;
        background-color: #231F20;
         box-shadow: 15px 15px 8px rgba(0,0,0,0.4);
        -webkit-box-shadow: 15px 15px 8px rgba(0,0,0,0.4);
        -moz-box-shadow: 15px 15px 8px rgba(0,0,0,0.4);
        padding: 1%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-top: -40px;
        z-index: 999999;
        overflow: hidden;
    }
    .slide-toggle {
        font-size: .9em;
        padding: 7px;
        padding-left: 30px;
        padding-right: 30px;
        color: white;
        background-color: #801815;
        border: none;
        box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -4px 2px rgba(0, 0, 0, .4);
        -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -4px 2px rgba(0, 0, 0, .4);
        -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -4px 2px rgba(0, 0, 0, .4);
        border-radius: .3em;
        -moz-border-radius: .3em;
        -webkit-border-radius: .3em;
        display: block;
    }
    
/*    Info, About Me Etc... pages*/
    .sidePageMainSection {
        width: 80%;
        margin: auto;
    }
    input[type=submit] {
/*        width: 50%;*/
    }
    
/*    Contact Page*/
    input[type=text] {
        width: 95%;
    }
    input[type=email] {
        width: 95%;
    }
    textarea {
        width: 95%;
    }
    /*    Recipe Management Pages*/
/*************************************************************************/
/*    Login Page*/
    #login_main {
        width: 80%;
        margin: auto;
        margin-top: -5px;
    }
/*    Main List Page*/
    .recipesMng {
        width: 100%;
    }
    .recipeMngImage {
       width: 92%;
       margin-left: 0px;
       margin-bottom: 1%;
    }
    .recipeMngName {
        width: 92%;
    }
    .recipeHead {
        font-size: 1.2em;
        width: 60%;
        padding: 10px;
    }
    aside {
        width: 35%;
    }
/*    Add Recipe Page*/
    #add_recipe_form {
        width: 90%;
    }
/*    Add Category Page*/
    #categoryTable {
        width: 90%;
    }
    /*    Edit Recipe Page*/
     #edit_recipe textarea  {
        width: 95%;
    }
    .edit_recipe_main {
        width: 88%;
    }
/*    Add Image Page*/
    #upload_image_main {
        width: 80%;
        margin: auto;
    }


}

/*Narrow 481 - 768px*/
@media only screen and (min-device-width: 30.063em) and (max-device-width: 48em){
    
    /*Main Page*/
    .recipeListAll {
        width: 100%;
        box-shadow: 8px 8px 4px rgba(0,0,0,0.4);
        -webkit-box-shadow: 8px 8px 4px rgba(0,0,0,0.4);
        -moz-box-shadow: 8px 8px 4px rgba(0,0,0,0.4);
        border-right: 18px solid #F4E8D9;
        margin-bottom: 10%;
    } 
     .recipeName {
        font-size:1.5em;
        color: #F4E8D9;
        width: 53%;
        padding: 10px;
        margin-top: 15px;
        margin-left: 24%;
    }
    .recipeImage {
       border: 9px solid black; 
       box-shadow: 8px 8px 4px rgba(0,0,0,0.4);
        -webkit-box-shadow: 8px 8px 4px rgba(0,0,0,0.4);
        -moz-box-shadow: 8px 8px 4px rgba(0,0,0,0.4);
       width: 45%;
    }
    .allergyTable{
       font-size: .9em;
        margin-top: 11%;
        margin-bottom: 3%;
        padding-left: 9px;
    }
    
/*    Top Navigation*/
     #topNav li a {
        float: left;
        font-size: 1em;
    }
    #topNav li a img {
        float: left;
        width: 50%;
        position: relative;
        margin-bottom: 5%;
    }
    
/*    Allergy Checklist side navigation*/
    #checklist {
        display: none;
    }
    #checklisttwo {
        right: .5%;
        position: absolute;
        color: #F4E8D9;
        background-color: #231F20;
         box-shadow: 15px 15px 8px rgba(0,0,0,0.4);
        -webkit-box-shadow: 15px 15px 8px rgba(0,0,0,0.4);
        -moz-box-shadow: 15px 15px 8px rgba(0,0,0,0.4);
        padding: 1%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-top: -40px;
        z-index: 999999;
        overflow: hidden;
    }
    .slide-toggle {
        font-size: 1em;
        padding: 7px;
        padding-left: 30px;
        padding-right: 30px;
        color: white;
        background-color: #801815;
        border: none;
        box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -4px 2px rgba(0, 0, 0, .4);
        -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -4px 2px rgba(0, 0, 0, .4);
        -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -4px 2px rgba(0, 0, 0, .4);
        border-radius: .3em;
        -moz-border-radius: .3em;
        -webkit-border-radius: .3em;
        display: block;
    }
    /*    Info, About Me Etc... pages*/
    .sidePageMainSection {
        width: 80%;
        margin: auto;
    }
    /*    Contact Page*/
    input[type=text] {
        width: 95%;
    }
    input[type=email] {
        width: 95%;
    }
    textarea {
        width: 95%;
    }
/*    Submit button*/
    input[type=submit] {
/*        width: 35%;*/
    }    
    
/*    Recipe Management Pages*/
/*************************************************************************/
/*    Login Page*/
    #login_main {
        width: 80%;
        margin: auto;
        margin-top: -5px;
    }
/*Main Management page*/
    .recipesMng {
        width: 95%;
    }
    .recipeMngImage {
       width: 95%;
       margin-left: 0px;
       margin-bottom: 1%;
    }
    .recipeMngName {
        width: 95%;
    }
    .recipeHead {
        font-size: 1.2em;
        width: 40%;
    }
    aside {
        width: 15%;
    }
/*    Add Recipe Page*/
    #add_recipe_form {
        width: 80%;
    }
/*    Add Category Page*/
    #categoryTable {
        width: 80%;
    }
/*    Edit Recipe Page*/
     #edit_recipe textarea  {
        width: 95%;
    }
    .edit_recipe_main {
        width: 80%;
    }
/*    Add Image Page*/
    #upload_image_main {
        width: 80%;
        margin: auto;
    }

}


/*769 - 1248px*/
@media only screen and (min-device-width: 48.063em) and (max-device-width: 78em){
    
    /*Main Page*/
    .recipeListAll {
        width: 80%;
        margin-bottom: 5%;
        border-bottom: 10px solid #F4E8D9;
    } 
    .recipeHead {
        font-size: 1.4em;
       
    }
    .recipeName {
        font-size: 1.4em;
        width: 34%;
        margin-left: 24%;
    }

    .recipeImage {
        width: 45%;
    }
    .allergyTable{
       font-size: .9em;
       margin-top: 12%;
    }
/*    Top Navigation*/
     #topNav li a {
        font-size: 1em;
    }
    #topNav li a img {
        float: left;
        width: 30%;
        position: relative;
        
    }
    /*    Info, About Me Etc... pages*/
    .sidePageMainSection {
         margin-left: 13%;
    }
    
/*    Recipe Management Pages*/
/*************************************************/
/*Login Page*/
    #login_main {
        width: 80%;
        margin: auto;
        margin-top: -5px;
    }
/*Main Management page*/
    aside {
        width: 15%;
    }
/*    Add Recipe Page*/
    #add_recipe_form {
        width: 80%;
    }
    /*    Edit Recipe Page*/
     #edit_recipe textarea  {
        width: 75%;
    }
    
}


/*Wide* 1601 px*/
@media only screen and (min-width:100.063em){
    
}